<div class="row">
	<div class="col-md-6 offset-3 text-center alert alert-success">
		<h2>Order completed successfully</h2>
		<p>You can check all your orders in the Orders section of your profile</p>
		<hr />
		<h2>Thank you!</h2>
	</div>
</div>